$color-dark: #3A3730;
$color-medium: #6C6A64;
$color-light: #FFFFFF;
$color-placeholder: #B2AEA4;
$color-gold: #F4B513;
$color-gold-dark: #97700C;

$shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);

$background-overlay: rgba(244, 181, 19, 0.2);

$button-bg-default: #F4B513;
$button-bg-hover: #F6C442;
$button-bg-focus: #DCA311;
$button-bg-disabled: #CCCCCC;

$textfied-bg-default: #F2F2F2;
$textfied-border-default: 2px solid rgba(0, 0, 0, 0.1);
$textfield-border-focus: 2px solid #F4B513;

$points-bg-default: rgba(244, 181, 19, 0.1);
$points-border-default: 2px solid #F4B513;

$points-bg-hover: rgba(244, 181, 19, 0.25);
$point-bg-selected: rgba(244, 181, 19, 0.5);

$font-main: 'Inter', sans-serif;

$transition-main: all 0.2s ease-in-out;