.container {
  width: 100%;
  padding: 115px 0 80px;
  margin: 0 auto;
  transition: all .2s ease;
}

.timeline {
  padding-top: 0;
}

@media (min-width: 500px) {
  .container {
    max-width: 500px;
    padding: 130px 0 90px;
  }

  .timeline {
    padding-top: 0;
  }
}