@import '../../styles/settings.scss';

.NavBar {
  color: $color-dark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 113px;
  width: 100%;
  background: $color-light;
  border-radius: 0 0 16px 16px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  margin-bottom: 8px;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
}