@import '../../../styles/settings.scss';

.NavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 65px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
  background: $color-light;
}