@import '../../../styles/settings.scss';

.AddPointsButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-gold;
  border-radius: 20px;
  box-sizing: border-box;
  width: 61.4px;
  height: 39px;
  background: $points-bg-default;
  color: $color-gold;
  font-family: $font-main;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  transition: $transition-main;

  &:hover {
    background: $points-bg-hover;
  }

  &:focus {
    background-color: $point-bg-selected;
    color: $color-gold-dark;
  }
}