@import '../../../styles/settings.scss';

.TextField {
  background: $textfied-bg-default;
  border: $textfied-border-default;
  border-radius: 20px;
  padding: 10px 16px;
  height: 39px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $font-main;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-dark;
  outline: none;
  transition: $transition-main;

  &::placeholder {
    color: $color-placeholder;
  }

  &:focus {
    background: $color-light;
    border: $textfield-border-focus;
  }
}